<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.8.1.0" targetFramework="wp71" />
  <package id="Accord.Audio" version="2.8.1.0" targetFramework="wp71" />
  <package id="Accord.Controls.Audio" version="2.8.1.0" targetFramework="wp71" />
  <package id="Accord.Math" version="2.8.1.0" targetFramework="wp71" />
  <package id="Accord.Statistics" version="2.8.1.0" targetFramework="wp71" />
  <package id="AForge" version="2.2.4" targetFramework="wp71" />
  <package id="AForge.Controls" version="2.2.4" targetFramework="wp71" />
  <package id="AForge.Imaging" version="2.2.4" targetFramework="wp71" />
  <package id="AForge.Math" version="2.2.4" targetFramework="wp71" />
  <package id="AForge.Video" version="2.2.4" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="wp71" />
  <package id="ServiceStack.Text" version="3.9.48" targetFramework="sl40-wp71" />
</packages>